@{
    ViewBag.Title = "Smart Vision Admin";
}

<div class="row">
    <div class="col-sm-8" id="streams">
        <div id="streamWrapper" class="row no-gutters"></div>
    </div>
    <div class="col-sm-4">
        <h3>Add another camera</h3>
        @Html.Label("URL: ")
        @Html.TextBox("streamURL", null, new { @class = "form-control", @type = "text", @id = "streamURL" })
        <label>@Html.RadioButton("streamType", "mjpeg", true) MJPEG stream</label>
        <label>@Html.RadioButton("streamType", "jpeg", false) JPEG stream</label>
        <input class="btn btn-primary form-control" type="submit" id="submit" value="Add">
    </div>

</div>
<style>

    .faceDetected {
        display: none;
        position: absolute;
        left: 1%;
        bottom: 0;
        font-size: 3em;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .imgThumbnail > img {
        cursor: pointer;
        border: 1px solid black;
        height: 100%;
        object-fit: cover;
    }

    #imgSelected > img {
        border: 1px solid black;
        min-height: 3em;
    }

    #imgSelected {
        position: relative;
    }

    img {
        width: 100%;
    }

    #buttons {
        position: absolute;
        right: 0;
        top: 0;
    }

    #buttons > button {
        overflow: hidden;
        background-color: rgba(0,0,255,0);
        border-color: rgba(0,0,255,0);
        width: auto;
        cursor: pointer;
    }

    #buttons > button > span {
        font-size: 2em;
        opacity: 0;
        transition: opacity .35s ease;
        -webkit-text-fill-color: white !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    #buttons > button:hover > span {
        -webkit-text-fill-color: darkred !important;
    }

    #imgSelected:hover > #buttons > button > span {
        opacity: 1;
    }

    #submit {
        margin-top: 3%;
    }
</style>

@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script>
        $(function () {

            var connection = new signalR.HubConnectionBuilder().withUrl("/faceDetectedHub").build();

            connection.on("FacesDetected", function (ids) {
                ids.forEach(function (id) {
                    $('#' + id + '> span').stop();
                    $('#' + id + '> span').show(0).delay(5000).hide(0);
                });
            });

            connection.start(/*{ transport: 'longPolling' }, */).then(function () {
                console.log('connection started!');
            }).catch(function (e) {
                return console.error(e.toString());
            });
        });

        $(document).ready(function() {
            $.ajax({
                url: '@Url.Action("GetStreamList", "Home")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    data.result.forEach(function (streamTuple) {
                        var stream = {
                            url: streamTuple.item1,
                            id: streamTuple.item2
                        };
                        addStream(stream);
                    });
                },
                error: function () {
                    alert('Error POST');
                }
            });
        });

        function removeStream(element) {
            if (!confirm("Are you sure yout want to remove this stream & stop processing its camera feed?"))
                return;
            id = $(element).data('id')
            $.ajax({
                url: '@Url.Action("RemoveStream", "Home")',
                type: 'POST',
                dataType: "json",
                data: { streamId: id },
                success: function (data) {
                    $('#' + id).remove();
                    $(element).parent().parent().remove();
                },
                error: function () {
                    alert('Error remove POST');
                }
            });
        };

        function selectStream(streamElement) {
            $('#imgSelected').remove();
            $('#streams').append(
                '<div id="imgSelected">' +
                '<img src="' + $(streamElement).children('img').attr('src') + '" /> ' +
                '<div id="buttons">' +
                '<button data-id="' + streamElement.id + '" onclick="removeStream(this)">' +
                '<span class="fa fa-ban"></span>' +
                '</button>' +
                '<button data-id="' + streamElement.id + '" onclick="$(this).parent().parent().remove()">' +
                '<span class="fa fa-times"></span>' +
                '</button>' +
                '</div>'+
                '</div>'
            );
        }

        function addStream(stream) {
            $("#streamWrapper").append(
                '<div class="imgThumbnail col-sm-4" onclick=selectStream(this) id="' + stream.id + '">' +
                '<span class="fa fa-user faceDetected"></span>' +
                '<img src="' + stream.url + '"/> ' +
                '</div>'
            );
        }

        $("#submit").click(function () {
            var streamUrl = $('#streamURL').val();
            var streamType = $('input[name=streamType]:checked').val();
            if (streamUrl === "")
                return;
            $.ajax({
                url: '@Url.Action("AddCamera", "Home")',
                type: 'POST',
                dataType: "json",
                data: { streamUrl: streamUrl, streamType: streamType },
                success: function (streamData) {
                    $('#streamURL').val('');
                    addStream(streamData);
                },
                error: function () {
                    alert('Error add POST');
                }
            });
        });
    </script>

}
