@using System.Collections
@using System.Security.Policy

@{
    ViewBag.Title = "Smart Vision Admin";
}

@model AdminWeb.Models.BusModel
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row">
        <div class="col-sm-8" id="streamWrapper">
        </div>
        <div class="col-sm-4">
            <div class="contact-clean">
                <h3 class="text-center">Add A New Camera Feed</h3>
                <div class="form-group center">
                    @Html.Label("Video camera stream URL: ")
                    @Html.TextBox("streamURL", null, new { @class = "form-control", @type = "text", @id = "streamURL" })
                    @Html.Label("The camera is located in a bus: ")
                    @Html.CheckBox("isBus", false, new { @id = "isBus" })
                </div>
                <div id="cameraForm" class="form-group center">
                    @Html.Label("Street name:")
                    @Html.TextBox("streetName", null, new { @class = "form-control", @type = "text", @id = "streetName" })
                    @Html.Label("House number:")
                    @Html.TextBox("houseNumber", null, new { @class = "form-control", @type = "text", @id = "houseNumber" })
                    @Html.Label("City:")
                    @Html.TextBox("city", null, new { @class = "form-control", @type = "text", @id = "city" })
                    @Html.Label("Country:")
                    @Html.TextBox("country", null, new { @class = "form-control", @type = "text", @id = "country" })
                    @Html.Label("Post code:")
                    @Html.TextBox("postCode", null, new { @class = "form-control", @type = "text", @id = "postCode" })
                </div>
                <div id="bussForm" style="display: none;" class="form-group center">
                    @Html.Label("Bus number:")
                    @Html.DropDownListFor(m => m.SelectedBusId, Model.Buses)
                </div>
                <div class="form-group center">
                    <input class="btn btn-primary d-flex m-auto" type="submit" id="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .hoverContainer {
        position: relative;
        margin-top: 50px;
        width: 300px;
        height: 200px;
    }

    .overlayHover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }

    .hoverContainer:hover #overlay {
        display: block;
        background: rgba(0, 0, 0, .3);
    }

    .hoverableButton {
        position: absolute;
        width: 15%;
        left: 85%;
        top: 0%;
        opacity: 0;
        transition: opacity .35s ease;
        border-radius: 0;
    }

        .hoverableButton a {
            width: 10%;
            text-align: center;
            color: white;
            border: solid 2px white;
            z-index: 1;
        }

    .hoverContainer:hover .hoverableButton {
        opacity: 1;
    }

    .drop-down {
        top: 100%;
    }
</style>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.js")
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            var alerter = $.connection.faceDetectedAlert;

            console.log(alerter);
            console.log($.connection);           

            alerter.client.alertFaceDetected = function (ids) {
                /* handle the fact that face detected in camera with id */
                ids.forEach(function (id) {
                    console.log(id);
                });
            }

            $.connection.hub.start({ transport: 'longPolling' }, function () {
                console.log('connection started!');
            });

            //$.connection.hub.start().done(init);

        });

        $('#isBus').change(function () {
            $('#cameraForm').toggle();
            $('#bussForm').toggle();
        });

        $(document).ready(function() {
            $.ajax({
                url: '@Url.Action("GetStreamList", "Home")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    data.result.forEach(function (streamTuple) {
                        var stream = {
                            url: streamTuple.Item1,
                            id: streamTuple.Item2
                        };
                        addStream(stream);
                    });
                },
                error: function () {
                    alert('Error POST');
                }
            });
        });

        function removeStream(element) {
            $.ajax({
                url: '@Url.Action("RemoveStream", "Home")',
                type: 'POST',
                dataType: "json",
                data: { streamId: JSON.stringify($(element).data('id')) },
                success: function (data) {
                    $(element).parent().remove();
                },
                error: function () {
                    alert('Error remove POST');
                }
            });
        };

        function addStream(stream) {
            $("#streamWrapper").append('<div class="hoverContainer" data-id="' + stream.id + '">' +
                '<img src="' + stream.url + '" height="200" width="300" /> ' +
                '<div class="overlay"></div>  ' +
                '<button data-id="' + stream.id + '"class="btn btn-square btn-danger hoverableButton" onclick="removeStream(this)">' +
                'X' +
                '</button>' +
                '</div>');
        }

        $("#submit").click(function () {
            var properties = {
                StreamUrl: document.getElementById('streamURL').value,
                StreetName: document.getElementById('streetName').value,
                CityName: document.getElementById('city').value,
                PostalCode: document.getElementById('postCode').value,
                IsBus: document.getElementById('isBus').value,
                BusId: '0'
        }
            $.ajax({
                url: '@Url.Action("AddCamera", "Home")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(properties),
                success: function (streamData) {
                    $(':input').not('#submit').val('');
                    addStream(streamData);
                },
                error: function () {
                    alert('Error add POST');
                }
            });
        });
    </script>

}
