@{
    ViewBag.Title = "Smart Vision Admin";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row">
        <div class="col-sm-8" id="streamDiv">
        </div>
        <div class="col-sm-4">
            <div class="contact-clean">
                <h3 class="text-center">Add A New Camera Feed</h3>
                <div class="form-group center">
                    @Html.Label("Video camera stream URL: ")
                    @Html.TextBox("streamURL", null, new { @class = "form-control", @type = "text", @id = "streamURL" })
                    @Html.Label("The camera is located in a bus: ")
                    @Html.CheckBox("isBuss", false, new { @id = "isBus" })
                </div>
                <div id="cameraForm" class="form-group center">
                    @Html.Label("Street name:")
                    @Html.TextBox("streetName", null, new { @class = "form-control", @type = "text", @id = "streetName" })
                    @Html.Label("House number:")
                    @Html.TextBox("houseNumber", null, new { @class = "form-control", @type = "text", @id = "houseNumber" })
                    @Html.Label("City:")
                    @Html.TextBox("city", null, new { @class = "form-control", @type = "text", @id = "city" })
                    @Html.Label("Country:")
                    @Html.TextBox("country", null, new { @class = "form-control", @type = "text", @id = "country" })
                    @Html.Label("Post code:")
                    @Html.TextBox("postCode", null, new { @class = "form-control", @type = "text", @id = "postCode" })
                </div>
                <div id="bussForm" style="display: none;" class="form-group center">
                    @Html.Label("Bus number:")
                    @Html.TextBox("streamURL", null, new { @class = "form-control", @type = "text", @id = "busNumber" })
                </div>
                <div class="form-group center">
                    <input class="btn btn-primary d-flex m-auto" type="submit" id="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</body>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $('#isBus').change(function () {
        $('#cameraForm').toggle();
        $('#bussForm').toggle();
    });


   /* $("#submit").click(function () {
        $('#streamDiv').prepend('<img id = "stream" height = "300" width = "450" src="../api/Video" />');

    });*/
</script>
