@model IEnumerable<Objects.Person.MissingPerson>
@using System.Linq
@using System.Web.Script.Serialization

<link rel="stylesheet" href="~/Content/Lightbox-Gallery.css">
<link rel="stylesheet" href="~/Content/modal-spin.css">
@{
    ViewBag.Title = "Smart Vision";
}


<!--Home Sections-->
<section id="hello" class="currentlymissing-banner bg-mega">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="model_text">
                    <h1 class="text-white text-uppercase">People that are currently missing</h1>
                    <h4 class="text-white text-uppercase">Smart ( ͡° ͜ʖ ͡° ) vision</h4>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->
<div class="head_title container currently-header p-top-100">
    <h2>Have you seen these people?</h2>
    <h5>You can find additional information by hovering over pictures and clicking on the view details button. If you have seen these people please contact the authorities or the contact people of the missing person.</h5>
    <div class="separator_left" style="width:100%"></div>
</div><!-- End off Head Title -->
<!--Portfolio Section-->
<section id="gallery" class="gallery margin-top-120 bg-white">
    <!-- Portfolio container-->
    <div class="container">
        <div class="row">
            <div class="main-gallery main-model roomy-80">
                <div style="clear: both;"></div>
                <div class="grid models text-center">
                    @foreach (var item in Model)
                    {
                        string phoneNumber = "''";
                        string email = "''";
                        <div class="grid-item model-item transition metal ium" style="border:1px #333 solid">
                            <img alt="" src="http://viltomas.eu/img/@item.faceImg">
                            @item.firstName @item.lastName @item.dateOfBirth

                            @if (item.ContactPersons.Count != 0)
                            {
                                phoneNumber = "'" + item.ContactPersons.First().phoneNumber + "'";
                                email = "'" + item.ContactPersons.First().emailAddress + "'";
                            }
                            @{ var serializer = new JavaScriptSerializer(); }
                            <a class="btn btn-default m-top-20"
                               onclick="callModal('@serializer.Serialize(item)')"
                               >
                                View Details
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div><!-- End off grid item -->
                    }
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div><!-- Portfolio container end -->
</section><!-- End off portfolio section -->

<div id="moreInformationModal" class="modal fadeModal in" role="dialog" data-url="@Url.Action("MoreInformationModal", "CurrentlyMissing")"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>

    function callModal(itemJson) {
        var item = JSON.parse(itemJson);
        var url = $("#moreInformationModal").data('url');
        $.get(url,
            function (content) {
                $("#moreInformationModal").html(content);
                $("#imageWrap").append(
                    '<div class=""><img id = ' +
                    item.faceImg +
                    ' class="img-thumbnail selectable-face imgsize" src="http://viltomas.eu/img/' + item.faceImg +  '" /></div>');
                $("#name").append('<div>' + item.firstName + '</div>');
                $("#surname").append('<div>' + item.lastName + '</div>');
                $("#dob").append('<div>' + item.dateOfBirth + '</div>');
                $("#lso").append('<div>' + item.lastSeenDate + '</div>');
                $("#lsl").append('<div>' + item.lastSeenLocation + '</div>');
                $("#adinfo").append('<div class="" style="width:200%; word-wrap:break-word;">' + item.Additional_Information + '</div>');
                $("#email").append('<div>' + item.ContactPersons[0].emailAddress + '</div>');
                $("#phone").append('<div>' + item.ContactPersons[0].phoneNumber + '</div>');

                $("#moreInformationModal").modal('show');
            });
    }
</script>