@model Objects.Person.MissingPerson

@{
    ViewBag.Title = "Smart Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Contact-Form-Clean.css">
<link rel="stylesheet" href="~/Content/modal-spin.css">
<!------------------------------------------------------------------------------------------------------------------------------------------>

<section id="hello" class="addmissing-banner bg-mega">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="contact_text">
                    <h1 class="text-white text-uppercase">Add a missing person</h1>
                    <h4 class="text-white text-uppercase">Smart ( ͡° ͜ʖ ͡° ) vision</h4>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->
<!--Call To Action Section-->
<!--------------------------------------------------------------------------->
<section id="feature" class="ab_feature roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_ab_feature">
                <div class="col-md-6">
                    @*m-top-120*@
                    <!-- Head Title -->
                    <div class="col-md-6">
                        @using (Html.BeginForm("AddMissingPerson", "AddPerson", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <section id="contact" class="contact fix">
                                <div class="container">
                                    <div class="row">
                                        <div class="main_contact">
                                            <div class="col-md-6 sm-m-top-30">
                                                <div class="head_title">
                                                    <h2>Missing person details</h2>
                                                    <h5>
                                                        <em>
                                                            Keep in mind that accurate information may lead to an improved search.
                                                        </em>
                                                    </h5>
                                                    <div class="separator_left"></div>
                                                </div><!-- End off Head Title -->
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.faceToken, htmlAttributes: new { @class = "control-label", @style = "display:none" })
                                                    <div>
                                                        @Html.EditorFor(model => model.faceToken, new { htmlAttributes = new { @id = "faceToken", @class = "form-control", @style = "display:none" } })
                                                        @Html.ValidationMessageFor(model => model.faceToken, "", new { @class = "text-danger", @style = "display:none" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.firstName, "First Name:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "name", @required = "", pattern = "[a-zA-Z\xC0-\uFFFF ,.'-]+$" } })
                                                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.lastName, "Last Name:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "name", @required = "", pattern = "[a-zA-Z\xC0-\uFFFF ,.'-]+$" } })
                                                        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.dateOfBirth, "Date Of Birth:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.dateOfBirth, new { htmlAttributes = new { @type = "date", @class = "form-control datepicker", @required = "" } })
                                                        @Html.ValidationMessageFor(model => model.dateOfBirth, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.lastSeenDate, "Last Seen On:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.lastSeenDate, new { htmlAttributes = new { @type = "date", @class = "form-control datepicker" } })
                                                        @Html.ValidationMessageFor(model => model.lastSeenDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.lastSeenLocation, "Last Seen Location:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.lastSeenLocation, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                        @Html.ValidationMessageFor(model => model.lastSeenLocation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Additional_Information, "Additional Information:", htmlAttributes: new { @class = "control-label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.Additional_Information, new { htmlAttributes = new { @class = "form-control", @rows = "6" } })
                                                        @Html.ValidationMessageFor(model => model.Additional_Information, "", new { @class = "text-danger", @rows = "6" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.faceImg, htmlAttributes: new { @class = "control-label", @style = "display:none" })
                                                    <div>
                                                        @Html.EditorFor(model => model.faceImg, new { htmlAttributes = new { @id = "faceImg", @class = "form-control", @style = "display:none" } })
                                                        @Html.ValidationMessageFor(model => model.faceImg, "", new { @class = "text-danger", @style = "display:none" })
                                                    </div>
                                                </div>

                                                <div class="form-group" style="height:167px;">
                                                    <div class="col-lg-6 offset-lg-3 d-flex flex-column justify-content-center align-self-center m-auto" id="chooseFile">
                                                        <input type="file" name="file" id="imageBrowse" accept="image/*" />
                                                    </div>
                                                    <div id="imgWrapper" class="col-lg-6 center-content-border"></div>
                                                </div>

                                                <div class="form-group center">
                                                    <input type="submit" value="ADD" class="btn btn-primary d-flex m-auto center" />
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--End off row -->
                                </div><!--End off container -->
                            </section><!--End off Contact Section-->
                        }
                    </div>
                </div>
                <div class="col-md-6 " style="padding-left: 6%">
                    <div class="feature_photo wow fadeIn sm-m-top-40 m-top-180">
                        <div class="feature_img">
                            <img src="~/img/logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>
<!--------------------------------------------------------------------------->

<div id="facesModal" class="modal fadeModal in" role="dialog" data-url="@Url.Action("FacesModalView", "AddPerson")"></div>
<br />
<br />
<br />

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
<!------------------------------------------------------------------------------------------------------------------------------------------>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {

        $("#imageBrowse").change(function() {

            var File = this.files;
            if (File && File[0]) {
                $('#imgWrapper').empty();
                $("#imgWrapper").append('<div class="loader align-self-center" style="max-height:50%; max-width:60%"></div>');
                var fd = new FormData;
                var files = $("#imageBrowse").get(0).files;
                fd.append("Image", files[0]);
                $.ajax({
                    url: '@Url.Action("CheckImage", "AddPerson")',
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    dataType: "json",
                    data: fd,
                    success: function(data) {
                        $('#imgWrapper').empty();
                        switch (data.result.length) {
                        case 0:
                            alert("No faces have been detected in the image!!!");
                            break;
                            case 1:
                                $("#imgWrapper").empty();
                            $('#imgWrapper').prepend(
                                    '<img id="targetImg" class="img-responsive" src="data:image/jpeg;base64, ' +
                                    data.result[0].ImageBase64 +
                                    '" />');
                            $('#faceToken').attr("value", data.result[0].FaceToken);
                            $('#faceImg').attr("value", data.result[0].ImageBase64);
                            break;
                        default:
                            var url = $("#facesModal").data('url');
                            $.get(url, function(content) {
                                    $("#facesModal").html(content);
                                    data.result.forEach(function(image) {
                                        $("#facesModalBody").append(
                                            '<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="min-height:100px"><img id = ' +
                                            image.FaceToken +
                                            ' class="img-thumbnail selectable-face" src="data:image/jpeg;base64, ' +
                                            image.ImageBase64 +
                                            '" /></div>');
                                    });
                                    $("#facesModal").modal('show');
                                    $('.selectable-face').one('click',
                                        function () {
                                            $("#imgWrapper").empty();
                                            var imgsrc = $(this).attr('src');
                                            var imgid = $(this).attr('id');
                                            $('#imgWrapper').prepend('<img id="targetImg" class="img-responsive" src="' + imgsrc + '" />');
                                            $('#faceToken').attr("value", imgid);
                                            imgsrc = imgsrc.replace('data:image/jpeg;base64, ', '');
                                            $('#faceImg').attr("value", imgsrc);
                                            $("#facesModal").modal('hide');
                                        });
                                });
                        }
                    },
                    error: function() {
                        alert('Error');
                    }
                });
            }
        });
    });
</script>



