@using Api.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model ContactPerson
@{
    using (Html.BeginForm("AddContactPerson", "AddPerson", FormMethod.Post))
    {
        <label>FirstName</label>
        @Html.TextBoxFor(m => m.firstName)
        <br />
        <label>LastName</label>
        @Html.TextBoxFor(m => m.lastName)
        <br />
        <label>MissingPersonID</label>
        @Html.TextBoxFor(m => m.missingPersonId)
        <br />
        <label>PhoneNumber</label>
        @Html.TextBoxFor(m => m.phoneNumber)
        <br />
        <label>Email</label>
        @Html.TextBoxFor(m => m.emailAddress)
        <br />
        <input type="submit" value="Submit" />
    }
}